[submodule "labirint_algoritm"]
	path = labirint_algoritm
	url = https://github.com/pipisasa/labirint_algoritm
[submodule "waves_simulation"]
	path = waves_simulation
	url = https://github.com/pipisasa/waves_simulation
[submodule "barnsley_fern"]
	path = barnsley_fern
	url = https://github.com/pipisasa/barnsley_fern
