[submodule "labirint_algoritm"]
	path = labirint_algoritm
	url = https://github.com/pipisasa/labirint_algoritm
[submodule "waves_simulation"]
	path = waves_simulation
	url = git@github.com:pipisasa/waves_simulation.git
